# ques.1 what are data structures ?Why  are they important?
  - A data structure is a way of organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently and easily.
  -> they are important because
     - data structures saves memory
     - handle large ammount of data
     - make the code easy to understand,for better understanding

# ques.2 Explain the difference between mutable and immutable data types with examples.
  - mutable
      - mutable means changeble.we can modify the data structures after they created.
      -ex:- list,set,dictionary
  - immutable
      - immutables are unchangeble.they cannot be modified after they created.
      -ex:-tuple,strings

# ques.3 What are the main differences between lists and tuples in Python?
  - basic difference between list and tuple is list are mutable and tuples are  immutable.we can modify lists after creation but in tuples we cannot.

# ques.4 Describe how dictionaries store data?
  - Dictionaries stores data in  key value pairs.
  -for ex :- dict_name = {"name":"kumkum","surname":"sharma"}

# ques.5  Why might you use a set instead of a list in Python?
  - set only stores unique data values and removes duplicate values ,so if  you want to asve only unique items,sets are ideal.

#ques.6 What is a string in Python, and how is it different from a list?
   - a string in python is a immutable data structure,which only stores sequence of characters
   - on the other hand list are mutable,and they can store any type of values
      - ex:- characters,neumeric,booleans

#ques.7 How do tuples ensure data integrity in Python?
   -tuples ensures data integrity because of their immutability.It helps keep the data protected from modification, and maintain originality>>once it created cannot be changed.

#ques.8 What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure,that stores key-value pair .
   - dictionaries are also implemented using hash table.
       -when a key-value pair is store in a dictionary.a unique hash is calculated for the key.and stores the value using hash.

#ques.9 Can lists contain different data types in Python?
   - yes,list acn contains different data types like, characters,integer,float,bolean etc.

#ques.10  Explain why strings are immutable in Python.
   - strings are immutable in python because they ensures security, efficient memory usage.

#ques.11 What advantages do dictionaries offer over lists for certain tasks?
   - dictionaries stores key-value pair .that's why data stores in more orgnised and understandable way.
   - They are implemented using hash table.
   -they allow direct access using keys.

#ques.12  Describe a scenario where using a tuple would be preferable over a list.
   - where data integrity and immutability are important.
   - scenario
       - when we have to store constant data like months in aa year or days in a week.

#ques.13 How do sets handle duplicate values in Python?
   - sets autometically removes duplicate values, and only allows unique elements.

#ques.14 How does the “in” keyword work differently for lists and dictionaries?
   - in the lists "in" keyword is used for checking if an sfecific element present or not.
   - in dictionaries "in" keyword is used to check the presense of the key but not value among the key-value pairs.


#ques.15 Can you modify the elements of a tuple? Explain why or why not?
   - NO, you acnnot modify the elements of a tuple because tuples are immutable and they cannot be modified after they created.

#ques.16 What is a nested dictionary, and give an example of its use case?
   - a nested dictionary is a dictionary that contains one or more dictionary inside it.
   - storing student data can be a use case of nested dictionary:-
        - student_data = {"student_1":{"name":"ajay","course":"ds"}
                     ,"stuent_2":{"name":"bijay","course":"maths"}}


#ques.17 Describe the time complexity of accessing elements in a dictionary?
    -  time complexity of accessing element in a dictionary:- o(1)

#ques.18 In what situations are lists preferred over dictionaries?
   - lists are preferred over dictionaries in the situations where task involves ordered or indexed data rather than key-value pairs.


#ques.19 Why are dictionaries considered unordered, and how does that affect data retrieval?
   - dictionaries are are considered unordered before python 3.7 because their insersion order is not gurruntee to preserve.this affects retrieval of data since since the order of retriveal is not predictable.

#ques.20 Explain the difference between a list and a dictionary in terms of data retrieval.
   - In lists data can be retrived using index value of each element.string sclicing can also be used.
   - in dictionaries values can be retrived using keys but keys can not be retrived by using data values.

In [ ]:
# Write a code to create a string with your name and print it.
my_name = "Kumkum"
print(my_name)

Kumkum

In [ ]:
# Write a code to find the length of the string "Hello World".
str_name = "Hello World"
len(str_name)

11

In [ ]:
# Write a code to slice the first 3 characters from the string "Python programming.
s = "python programming"
s[0:3]

'pyt'

In [ ]:
# Write a code to convert the string "hello" to uppercase.
s = "hello"
s.upper()

'HELLO'

In [ ]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
s.replace("apple","orange")

'I like orange'

In [ ]:
# Write a code to create a list with numbers 1 to 5 and print it.
lis = []
for i in range(1,6):
  lis.append(i)
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
# Write a code to append the number 10 to the list [1, 2, 3, 4].
lis = [1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [ ]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lis = [1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [ ]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lis = ['a','b','c','d']
lis[1]

'b'

In [ ]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].
lis = [10,20,30,40,50]
lis[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100,200,300)
print(t)

(100, 200, 300)

In [ ]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red','green','blue','yellow')
t[-2]

'blue'

In [ ]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10,20,5,15)
min(t)

5

In [ ]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog','cat','rabbit')
t.index("cat")

1

In [ ]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits_name = ('apple','kiwi','banana')
'kiwi' in fruits_name

True

In [ ]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a','b','c'}
s

{'a', 'b', 'c'}

In [1]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4,5}
s.clear()
s

set()

In [4]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1,2,3,4,5}
s.remove(4)
s

{1, 2, 3, 5}

In [6]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [7]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1,2,3}
s2 = {2,3,4}
s1 & s2

{2, 3}

In [8]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
address = {"name":"kumkum","age":56,"city":"ahamdabad"}
address

{'name': 'kumkum', 'age': 56, 'city': 'ahamdabad'}

In [9]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
address = {'name': 'John', 'age': 25}
address["country"] = "USA"
address

{'name': 'John', 'age': 25, 'country': 'USA'}

In [10]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [11]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
identity = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del identity["age"]
identity

{'name': 'Bob', 'city': 'New York'}

In [12]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
"city" in d

True

In [13]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1,2,3,4,5]
my_tuple = (6,7,8,9)
my_dict ={'name': 'Alice', 'city': 'Paris'}
print("list:",my_list)
print("tuple:",my_tuple)
print("dictionary:",my_dict)

list: [1, 2, 3, 4, 5]
tuple: (6, 7, 8, 9)
dictionary: {'name': 'Alice', 'city': 'Paris'}

In [14]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
my_list = [35,63,32,19,78]
sorted(my_list)

[19, 32, 35, 63, 78]

In [15]:
# Write a code to create a list with strings and print the element at the third index.
fruits = ["apple","banana","mango","papaya"]
fruits[3]

'papaya'

In [16]:
# Write a code to combine two dictionaries into one and print the result.
d1 = {"a":1,"b":2}
d2 = {"c":3,"d":4}
d1.update(d2)
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [17]:
# Write a code to convert a list of strings into a set.
fruits = ["mango","papaya","apple","banana","mango","papaya"]
set(fruits)

{'apple', 'banana', 'mango', 'papaya'}